<div class="bg-image"></div>
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="app-modal-container">
    <div class="animate__animated animate__zoomIn animate__fastest app-modal rounded-3 bg-white">
      <div class="text-center my-2">
        <h1 class="h3">Activate <span class="text-primary">Card</span></h1>
        <div class="w-100">
          <hr class="line-divider"/>
        </div>
      </div>
      <div class="container">
        <app-activate-card-form></app-activate-card-form>
      </div>
    </div>
  </div>
</div>
