<ng-template #sendOtp>
  <p class="text-muted fw-light mb-3"><fa-icon icon="info-circle"></fa-icon> Please enter your username and select a contact method so we can <span class="fw-bold">send you a reset code.</span></p>
  <form [formGroup]="createOtpForm" (ngSubmit)="sendOtpCode()">
    <div class="row row-cols-1">
      <div class="col my-2">
        <div class="form-floating">
          <input type="text"
                 id="username"
                 formControlName="username"
                 placeholder="Username"
                 class="form-control"/>
          <label for="username" class="form-label">Username</label>
        </div>
        <div *ngIf="createOtpForm.get('username')?.invalid && createOtpForm.get('username')?.touched" class="text-danger">
          Username is invalid.
        </div>
      </div>
    </div>
    <div class="row row-cols-2">
      <div class="col my-2">
          <input type="radio"
                 id="phone"
                 value="phone"
                 formControlName="contactMethod"
                 class="form-check-inline"/>
          <label for="phone" class="form-check-label">Phone</label>
      </div>
      <div class="col my-2">
        <input type="radio"
               id="email"
               value="email"
               formControlName="contactMethod"
               class="form-check-inline"/>
        <label for="email" class="form-check-label">Email</label>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button [disabled]="sendingOtp || createOtpForm.invalid" type="submit" class="btn btn-primary btn-lg rounded-pill">Send Code
        <span *ngIf="sendingOtp" class="d-inline-flex justify-content-center align-items-center">
          <span class="spinner-grow spinner-grow-sm"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #verification>
  <p>Enter your <span class="fw-bold">one-time passcode</span>.</p>

  <div class="my-2">
    <div appSingleChar
         [disabled]="true"
         [inputLength]="6"
         (valueChange)="updateOtp($event)"></div>
  </div>

  <p *ngIf="verificationError" class="mt-3 text-danger text-center">{{verificationError}}</p>

  <div class="d-flex justify-content-center mt-5">
    <button [disabled]="verifyingOtp || otpIncorrectLength()" class="btn btn-primary btn-lg rounded-pill" (click)="verifyOtp()">Verify
      <span *ngIf="verifyingOtp" class="d-inline-flex justify-content-center align-items-center">
          <span class="spinner-grow spinner-grow-sm"></span>
        </span>
    </button>
  </div>

  <div class="mt-5 text-end">
    <div class="text-muted small mb-1">Didn't receive a code?</div>
    <button class="btn btn-sm btn-outline-secondary rounded-pill"
            style="width: 120px"
            [disabled]="resendingCode"
            (click)="resendCode()">
      {{resendCodeBtnText}}
    </button>
  </div>

</ng-template>

<ng-template #resetPasswordTemp>

  <div class="mb-4">
    Let's reset your password!
    <div class="fw-light fst-italic">Don't worry. It happens.</div>
  </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="form-floating w-100 position-relative my-2">
      <input type="password"
             class="form-control"
             formControlName="newPassword"
             placeholder="New Password"
             id="newPassword"/>
      <label for="newPassword" class="form-label">New Password</label>
      <app-form-control-validation-indicator
        defaultMessage="Enter your new password."
        errorMessage="Password must be at least 8 characters and include at least one uppercase letter, one lowercase letter, one number, and one symbol."
        [validateControl]="resetPasswordForm.get('newPassword')">
      </app-form-control-validation-indicator>
    </div>
    <div class="form-floating w-100 position-relative my-2">
      <input type="password"
             class="form-control"
             formControlName="confirmNewPassword"
             placeholder="Confirm Password"
             id="confirmNewPassword"/>
      <label for="confirmNewPassword" class="form-label">Confirm Password</label>
      <app-form-control-validation-indicator
        defaultMessage="Re-enter your new password."
        errorMessage="Passwords you entered do not match."
        [validateControl]="resetPasswordForm.get('confirmNewPassword')">
      </app-form-control-validation-indicator>
    </div>
    <div *ngIf="resetPasswordError" class="my-3 text-danger text-center">
      {{resetPasswordError}}
    </div>
    <div class="mt-5 d-flex justify-content-center">
      <button [disabled]="resettingPassword || resetPasswordForm.invalid" type="submit" class="btn btn-primary btn-lg rounded-pill">
        Reset Password
        <span *ngIf="resettingPassword" class="d-inline-flex justify-content-center align-items-center">
          <span class="spinner-grow spinner-grow-sm"></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #resetSuccess>

  <div class="text-center my-5">
    <fa-icon icon="check-circle"
             size="6x"
             class="text-success animate__animated animate__bounce d-block"></fa-icon>
    <p class="fs-2 text-success fw-bold">Success!</p>
    <p class="text-muted">You successfully reset your password.</p>
  </div>
  <div class="d-flex justify-content-center my-2">
    <button class="btn btn-lg btn-outline-primary rounded-pill"
            routerLink="/login">
      Login
    </button>
  </div>

</ng-template>

<ng-container #formContainer>

</ng-container>
