.sidebar {
    width: 250px;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    -o-transition: margin .5s;
    transition: margin .5s;
    margin:0 0 0 -250px;
    z-index: 1;
}

.sidebar.is-nav-open {
    margin-left:0;
}

.content {
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    -o-transition: margin .5s;
    transition: margin .5s;
    margin: 0 ;
}
.content.is-nav-open {
    margin-left: 250px;
}
