<div class="bg-image"></div>
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="app-modal-container">
    <div class="animate__animated animate__zoomIn animate__fastest app-modal rounded-3 bg-white">
      <div class="text-center my-2">
        <div class="d-inline-block mb-4">
          <fa-layers size="4x">
            <fa-icon [icon]="['far', 'circle']" class="text-primary" transform="grow-5"></fa-icon>
            <fa-icon icon="unlock-alt" class="text-primary" transform="shrink-6"></fa-icon>
          </fa-layers>
        </div>
        <h1 class="h3">Reset <span class="text-primary">Password</span></h1>
        <div class="w-100">
          <hr class="line-divider"/>
        </div>
      </div>
      <div class="container">
        <app-password-reset-form></app-password-reset-form>
      </div>
    </div>
  </div>
</div>
